language: bash

sudo: required

services:
  - docker

before_install:
  - echo 'DOCKER_OPTS="-s devicemapper"' | sudo tee /etc/default/docker > /dev/null
  - sudo service docker restart
  - sleep 5

install:
  - docker pull anhem/urchin

script:
  - docker run -it --privileged --name urchin-travis anhem/urchin -b $TRAVIS_BRANCH -a true
