#main-container {

  #main-container__header {
    height: 2em;
    background-color: #e9e9e9;
    text-align: center;
  }

  #main-container__body {

    #main-container__main-menu {
      position: fixed;
      top: 0;
      width: 12em;
      height: 100%;
      background-color: #e9e9e9;
    }

    #main-container__content {
      position: relative;
      left: 12em;
      @include make-container();
    }
  }
}