#main-container {
    display: table-row;
    height: 100vh;
}

#main-container__main-menu {
    width: 10em;
    background-color: #4b4b4b;
    display: table-cell;
    text-align: center;
    vertical-align: top;
    margin: 0;
    padding-top: 1em;
}

#main-container__content {
    display: table-cell;
    padding-left: 1em;
    padding-top: 1em;
    vertical-align: top;
}

#main-container__content a {
    text-decoration: none;
    color: blue;
}